.group {
  position: relative;
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
  gap: 4rem;
  margin: 4rem 0 5rem;
}
.card {
  width: 16rem;
  height: 22rem;
  display: grid;
  grid-template-rows: repeat(1, 3fr 1fr 1fr);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem  rgb(146 146 146 / 50%);
  overflow: hidden;
  cursor: pointer;
}

.card img {
  height: 16rem;
  border-radius: 1rem 1rem 0 0;
}

.card p img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}

.card p {
  margin-top: -2rem;
  margin-left: -1rem;
}

.loader {
  width: 215px;
  height: 215px;
  display: block;
  margin: auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
   linear-gradient(#DDD 100px, transparent 0),
   linear-gradient(#DDD 16px, transparent 0),
   linear-gradient(#DDD 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}
