:root {
  --orange: #f9b225;
  --yellow: #ffe194;
  --black: #3f3d3b;
  --white: white;
  --grey: #c4c4c4;
  --lightgrey: #f5f5f5;
  --green: #015865;
  --title-font: "Dosis";
  --text-font: "Open Sans";
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--light-grey-color);
}

.top-bar {
  width: 100%;
  height: 5rem;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

img {
  width: 7rem;
  margin-left: 7rem;
}

.form-user-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem;
}

/* .question{
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--text-font);
  color: var(--green);
  border: 0px;
  background-color: var(--lightgrey);
  border-radius: 1rem;
  margin: 0.2rem;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.question:focus{
  outline-color: var(--grey);
} */

h1 {
  font-family: var(--text-font);
  font-size: 2rem;
  font-weight: 800;
  color: var(--black);
  text-align: left;
  margin: 0;
}

h2 {
  font-family: var(--text-font);
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
  text-align: left;
  margin-top: 0.2rem;
}

p {
  font-family: var(--text-font);
  font-size: 1rem;
  line-height: 2rem;
}

.rules {
  margin-top: 3rem;
}

.rules p,
ul,
.checkbox {
  font-family: var(--text-font);
  list-style: none;
  font-size: 1rem;
  line-height: 1.2rem;
}

.checkbox {
  margin-bottom: 2 rem;
}

button {
  background-color: var(--orange);
  padding: 0.8rem 2rem;
  border-style: none;
  border-radius: 2rem;
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.7s ease;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

button:hover {
  background-color: #cc9320;
  cursor: pointer;
}

.question {
  display: flex;
  flex-direction: column;
  background: red;
  width: 100%;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
}

.magicbox {
  display: inline-flex;
  justify-content: start;
  align-items: baseline;
}

.dropdown {
  display: flex;
  position: relative;
  width: 12.5rem;
  height: 1rem;
  margin-left: 1rem;
}

.dropdown::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid var(--white);
  right: 0.1rem;
  top: 0.9rem;
  z-index: 2;
}

.dropdown .active::before {
  transform: rotate(-255deg);
}

.dropdown input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 10px;
  background-color: var(--lightgrey);
  box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
  border-radius: 10px;
}

.dropdown .question {
  position: absolute;
  top: 80px;
  width: 100%;
  background: var(--lightgrey);
  box-shadow: 0 30px 30px rgb(0 0 0 / 5%);
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.dropdown.active .question {
  display: block;
}

.dropdown .question div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .question div:hover {
  background-color: var(--yellow);
}
