:root {
  --orange: #f9b225;
  --black: #3f3d3b;
  --white: white;
  --grey: #c4c4c4;
  --title-font: "Dosis";
  --main-font: "Open Sans";
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

.prueba {
  width: 100%;
  height: 50rem;
}

/* NAVIGATION BAR */

.topbar {
  height: calc(1 / 8 * 100vh);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.topbar img {
  width: 16.1rem;
  height: 5rem;
}

.topbar-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.topbar-nav a {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.topbar-nav a:last-child {
  color: var(--orange);
}

.topbar-nav img {
  width: 2rem;
  height: 2rem;
}

.vertical-line {
  display: inline-block;
  height: 3rem;
  width: 1px;
  background-color: var(--orange);
}

/* HEADER */
.header {
  width: 100%;
  height: calc(7 / 8 * 100vh);
  background-color: var(--black);
}

.header-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.header-content-h1,
.header-content-h3 {
  width: 60rem;
  height: 18rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-content-h1 h1 {
  font-family: var(--title-font);
  font-size: 6.4rem;
  font-weight: 800;
}

.header-content-h3 h3 {
  font-family: var(--main-font);
  font-size: 2.5rem;
  font-weight: 400;
}

/* CATEGORIES */

.animal-categories {
  width: 100%;
  height: 50vh;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-categories h2 {
  color: var(--white);
  font-family: var(--main-font);
  font-size: 42px;
  font-weight: 700;
}

.animal-categories-icons {
  width: 60vw;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 40px;
}

.animal-categories-icons img {
  width: 73px;
  height: 73px;
}

.dogs,
.cats,
.rodents,
.birds,
.reptiles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  width: 13.3rem;
  height: 13.3rem;
}

/** Animals for Adoption **/

.animal-adoptions {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15rem;
}

.animal-adoptions-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  color: var(--black);
}

.animal-adoptions-text h2 {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
}

.animal-adoptions-text p {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.animal-adoptions-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 20rem;
  height: 28.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 0.5rem  rgb(146 146 146 / 50%);
}

.card-extra {
  width: 20rem;
  height: 28.3rem;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 0.5rem rgb(146 146 146 / 50%);
  padding: 2rem;
}

.card-img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-logo {
  width: 35%;
  height: 35%;
}

.card-name {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 50%;
}

.card-text {
  color: var(--white);
  text-align: center;
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.card-link {
  width: 12rem;
  height: 3rem;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  text-decoration: none;
  color: var(--white);
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
}

/** COUNTER **/

.counter {
  width: 100%;
  height: 50vh;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter-container {
  width: calc(1 / 6 * 100%);
  height: calc(1 / 2 * 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.counter-text {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 600;
  color: var(--grey);
  margin: 0;
}

.counter-display {
  font-family: var(--main-font);
  font-size: 60px;
  font-weight: 600;
  color: var(--orange);
}
