:root {
  --orange: #f9b225;
  --black: #3f3d3b;
  --white: white;
  --grey: #c4c4c4;
  --title-font: "Dosis";
  --main-font: "Open Sans";
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

.prueba {
  width: 100%;
  height: 50rem;
}

/* NAVIGATION BAR */

.topbar {
  height: calc(1 / 8 * 100vh);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15rem;
}

.topbar img {
  width: 14rem;
  height: auto;
}

.topbar-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.topbar-nav a {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.topbar-nav a:last-child {
  color: var(--orange);
}

.topbar-nav img {
  width: 2rem;
  height: 2rem;
}

.vertical-line {
  display: inline-block;
  height: 3rem;
  width: 1px;
  background-color: var(--orange);
}

/* HEADER */
.header {
  width: 100%;
  height: calc(7 / 8 * 100vh);
  background-color: var(--black);
}

.header-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.header-content-h1,
.header-content-h3 {
  width: 60rem;
  height: 18rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-content-h1 h1 {
  font-family: var(--title-font);
  font-size: 6.4rem;
  font-weight: 800;
}

.header-content-h3 h3 {
  font-family: var(--main-font);
  font-size: 2.5rem;
  font-weight: 400;
}

/* CATEGORIES */

.animal-categories {
  width: 100%;
  height: 50vh;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-categories h2 {
  color: var(--white);
  font-family: var(--main-font);
  font-size: 42px;
  font-weight: 700;
}

.animal-categories-icons {
  width: 60vw;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 40px;
}

.animal-categories-icons img {
  width: 73px;
  height: 73px;
}

.dogs,
.cats,
.rodents,
.birds,
.reptiles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  width: 13.3rem;
  height: 13.3rem;
}

/** Animals for Adoption **/

.animal-adoptions {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15rem;
}

.animal-adoptions-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  color: var(--black);
}

.animal-adoptions-text h2 {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
}

.animal-adoptions-text p {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.animal-adoptions-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* BUG: con los tamaños de las cartas para diferentes resoluciones, revisar */

.card {
  /* width: 100vw; */
  height: 40vh;
  max-width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 0.5rem  rgb(146 146 146 / 50%);
}

.card-extra {
  /* width: 100vw; */
  height: 40vh;
  max-width: 27rem;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 0.5rem rgb(146 146 146 / 50%);
  padding: 2rem;
}

.card-img {
  max-width: 100%;
  max-height: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-logo {
  max-width: 35%;
  max-height: 35%;
}

.card-name {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 50%;
}

.card-text {
  color: var(--white);
  text-align: center;
  font-family: var(--main-font);
  font-size: 15px;/* 22px */
  font-weight: 400;
  margin: 0;
}

.card-text span {
  font-weight: 700;
}

.card-link {
  width: 15rem;
  height: 4rem;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.8rem;
  text-decoration: none;
  color: var(--white);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
}

/** COUNTER **/

.counter {
  width: 100%;
  height: 50vh;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3% 10%;
}

.counter-container {
  width: calc(1 / 6 * 100%);
  height: calc(1 / 2 * 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.counter-text {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 600;
  color: var(--grey);
  margin: 0;
}

.counter-display {
  font-family: var(--main-font);
  font-size: 60px;
  font-weight: 600;
  color: var(--orange);
}

/**  ADOPTION PROCESS  **/

.adoption-process {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15rem;
}

.adoption-process h2 {
  font-family: var(--main-font);
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 10rem;
}

.adoption-process-container {
  width: 100%;
  height: 50vh;
  background-color: lightcoral;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;

  /* column-gap: 10rem; */
}

.adoption-process-container h4 {
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 600;
}

.adoption-process-container p {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
}

.adoption-process-prueba {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** REGULAR QUESTIONS **/
.regular-questions {
  width: 100%;

  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
  font-family: var(--main-font);
  background-color: lightskyblue;
}

/* esta clase creo que no hace nada */
.wrapper {
  width: 60%;
}

.regular-questions h1 {
  margin-bottom: 2rem;
}

.container {
  width: 50%;
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 25%);
  margin: 2rem 0;
}

.question {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.question::after {
  content: "\002B";
  font-size: 2.2rem;
  right: 20px;
  transition: 0.2s;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}

@media screen and (max-width: 790px) {
  html {
    font-size: 14px;
  }
}
