:root {
  --orange: #f9b225;
  --yellow: #ffe194;
  --black: #3f3d3b;
  --white: white;
  --grey: #c4c4c4;
  --terciary: #d11149;
  --title-font: "Dosis";
  --main-font: "Open Sans";

  /* variables del footer */
  --footer-bg: #3f3d3b;
  --color: #f2f3fb;
  --color-smooth: #9da2ae;
  --btn-bg-color: #f1f2fc;
  --btn-hover-bg: #d5d9f6;
  --btn-color: #1e2641;
}

/* 1rem = 10px */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  color: var(--white);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  color: var(--white);
  font-family: var(--main-font);
  font-size: 2.25rem;
}

h3,
h4 {
  font-family: var(--main-font);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-family: var(--main-font);
  color: var(--black);
  font-weight: 600;
  font-size: 1rem;
}

.button {
  font-size: 1em;
  background: var(--orange);
  color: var(--black);
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 2rem;
  top: 7rem;
  border-radius: 3rem;
  font-family: var(--main-font);
  font-weight: 600;
}

.prueba {
  width: 100%;
  height: 50rem;
}

/* NAVIGATION BAR */

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: var(--white);
}

.topbar.sticky {
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 20%);
  transition: 1s ease;
}

.topbar .logo {
  width: 7rem;
  margin-left: 7rem;
}

.topbar .nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  gap: 1rem;
  right: 7.7rem;
}

.topbar .nav img {
  width: 1.2rem;
  transition: color 0.5s;
  margin-right: 1.7rem;
}

.topbar li {
  list-style: none;
  margin-left: 2rem;
}

.topbar a {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.5s;
}

.topbar a:hover {
  text-decoration: underline;
}

.topbar ul img:hover,
.topbar .burger.active .menu-icons a:hover {
  filter: invert(17%) sepia(40%) saturate(6264%) hue-rotate(329deg) brightness(98%) contrast(103%);
}

.vertical-line {
  display: inline-block;
  height: 3rem;
  width: 0.1rem;
  background-color: var(--black);
}

.topbar .burger.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 0;
  top: 0;
  margin: 0%;
  padding: 0%;
  width: 100vw;
}

.topbar .burger.active .opacity {
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(50 48 53/100%);
  opacity: 0.6;
  width: 100vw;
  height: 100%;
}

.topbar .burger .menu {
  display: none;
}

.topbar .burger.active .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 42rem;
  width: 90vw;
  height: 80%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
}

.topbar .burger.active .menu ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 10rem;
  left: 3rem;
  line-height: 4rem;
}

.topbar .burger.active .menu ul a {
  font-size: 2.5rem;
  font-weight: 700;
}

.topbar .burger.active .menu .menu-contact a {
  font-size: 1.25rem;
  position: absolute;
  bottom: 10.5rem;
  left: 8.2rem;
}

.topbar .burger.active .m-footer {
  max-width: 42rem;
  display: flex;
  width: 90vw;
  height: 22%;
  position: fixed;
  right: 0;
  bottom: 0;
  background: var(--orange);
}

.topbar .burger.active .menu-icons {
  position: absolute;
  right: 4.5rem;
  top: 28rem;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: row;
  transition: color 0.5s;
}

.topbar .burger.active .menu-icons img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.2rem 0;
  filter: brightness(0%);
}

.menu-toggle {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: url("../assets/icons/menu-icon.svg");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 5rem;
}

.menu-toggle.active {
  background: url("../assets/icons/menu-exit.svg");
  background-size: 1.3rem;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  top: 2rem;
}

/* HEADER */
.welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(
      0deg,
      rgb(0 0 0 / 30%),
      rgb(0 0 0 / 30%)
    ),
    url("../assets/fondo_web.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-content {
  text-align: center;
  max-width: 85rem;
  justify-content: start;
  align-items: center;
  color: white;
}

.welcome-content h2 {
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  top: 0.8rem;
}

.welcome-content h1 img {
  width: 2.3rem;
  position: relative;
  bottom: -0.3rem;
}

.welcome .button {
  position: relative;
}

/* CATEGORIES */

.animal-categories {
  width: 100%;
  height: 25vh;
  background: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-categories h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--black);
  margin-top: 2rem;
}

.animal-categories-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2.7rem;
  padding: 50px 0 40px;
}

.animal-categories-icons img {
  width: 4.5rem;
  height: 5rem;
}

.dogs,
.cats,
.rodents,
.birds,
.reptiles {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.3rem solid var(--yellow);
  background: var(--white);
  width: 9rem;
  height: 9rem;
}

/** Animals for Adoption **/

.animal-adoptions {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-adoptions h2 {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  margin-top: -2rem;
}

.animal-adoptions p {
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.animal-adoptions-cards {
  position: relative;
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  margin-top: 5rem;
}

.card {
  width: 16rem;
  height: 22rem;
  display: grid;
  grid-template-rows: repeat(1, 3fr 1fr 1fr);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem  rgb(146 146 146 / 50%);
}

.card img {
  width: 100%;
  height: 16.1rem;
  border-radius: 1rem 1rem 0 0;
}

.card-name {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.animal-adoptions .card p img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}

.animal-adoptions .card p {
  font-size: 1rem;
}

.card-extra {
  /* width: 100vw; */
  width: 16rem;
  height: 24rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 0.5rem rgb(146 146 146 / 50%);
}

.card-extra img {
  width: 5.5rem;
  margin-top: 1.8rem;
}

.card-extra p {
  color: var(--orange);
  font-size: 1rem;
  text-align: center;
}

.card-extra p span {
  font-weight: 800;
}

.card-extra .horizontal-line {
  height: 0.1rem;
  width: 100%;
  background-color: var(--orange);
}

.card-extra .button {
  margin-bottom: 2rem;
}

/** COUNTER **/

.counter {
  width: 100%;
  height: 50vh;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3% 10%;
}

.counter-container {
  width: calc(1 / 6 * 100%);
  height: calc(1 / 2 * 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.counter-text {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 600;
  color: var(--grey);
  margin: 0;
}

.counter-display {
  font-family: var(--main-font);
  font-size: 60px;
  font-weight: 600;
  color: var(--orange);
}

/**  ADOPTION PROCESS  **/

.adoption-process {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15rem;
}

.adoption-process h2 {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10rem;
}

.adoption-process-grid {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: flex-start; /* flex-start */
  padding: 2rem 6rem;
  column-gap: 6rem;
}

.adoption-process-grid img {
  height: 14rem;
}

.adoption-process-steps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  width: 3rem;
  height: 3rem;
  color: var(--black);
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 2rem;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 1.5rem;
}

.adoption-process-grid h4 {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.adoption-process-grid p {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

/** REGULAR QUESTIONS **/
.regular-questions {
  width: 100%;

  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
  font-family: var(--main-font);
}

/* esta clase creo que no hace nada */
.wrapper {
  width: 60%;
}

.regular-questions h1 {
  color: var(--black);
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 600;
}

.container {
  width: 50%;
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 25%);
  margin: 2rem 0;
}

.question {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.question::after {
  content: "\002B";
  font-size: 3.5rem;
  right: 20px;
  transition: 0.2s;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer p {
  color: var(--black);
  font-size: 15px;
  padding: 0 20px 20px;
  line-height: 2rem;
}

/**  FOOTER  **/

.footer {
  font-size: 16px;
  background: var(--footer-bg);
  padding: 3.4rem 4rem;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  font-family: var(--main-font);
}

.main {
  display: flex;
}

.footer .kompi-logo {
  height: 3rem;
  margin-top: 2rem;
  margin-right: 4.5rem;
}

.footer ul {
  list-style: none;
  line-height: 4.5rem;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-title {
  font-family: var(--main-font);
  color: var(--color);
  font-size: 1.7rem;
  font-weight: 600;
}

.col-title1 {
  font-family: var(--main-font);
  color: var(--color);
  font-size: 1.7rem;
  font-weight: 600;
}

.col-list a {
  color: var(--color-smooth);
  text-decoration: none;
  line-height: 1.4;
  font-weight: 400;
}

.col-list a:hover,
.col-list a:focus {
  text-decoration: underline;
}

.send-form,
.social-media {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.send-input {
  width: auto;
  flex: 1;
  background: transparent;
  border: 0.06rem solid var(--color);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.3rem;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--color-smooth);
}

.send-input:focus {
  outline: none;
  border-color: var(--color);
  color: var(--color);
}

.send-btn {
  background: var(--btn-bg-color);
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.3rem;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--btn-color);
  cursor: pointer;
}

.send-btn:hover,
.send-btn:focus {
  background: var(--orange);
}

.form-title {
  font-size: 1em;
  color: var(--color);
  font-weight: 500;
}

.social-media {
  display: flex;
  margin: 0 80px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-list {
  display: flex;
}

.social-media-list a {
  margin-right: 8rem;
  color: var(--color-smooth);
  display: flex;
  border-radius: 0.3rem;
  transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: var(--color);
  background: #ffffff1a;
}

.social-media-list img {
  width: 1.7rem;
  height: 2rem;
}

.copyright {
  text-align: center;
  font-size: 13px;
  color: white;
  margin: 1rem 15rem;
}

.footer .copyright_line {
  text-align: center;
  opacity: 0.5;
}

/* media query for mobile */

@media (min-width: 0) and (max-width: 767px) {
  .topbar .nav {
    display: none;
  }
}

/* .menu-toggle {
  display: flex;
} */

@media (min-width: 768px) {
  .menu-toggle {
    display: absolute;
  }

  .topbar .nav {
    display: none;
  }
}

@media (min-width: 1200px) {
  .menu-toggle {
    position: absolute;
  }

  .topbar .nav {
    display: none;
  }
}

@media (min-width: 1650px) {
  .menu-toggle {
    display: none;
  }

  .topbar .nav {
    display: flex;
  }
}
