:root {
  --orange: #f9b225;
  --yellow: #ffe194;
  --black: #3f3d3b;
  --white: white;
  --grey: #c4c4c4;
  --lightgrey: #f5f5f5;
  --green: #015865;
  --title-font: "Dosis";
  --text-font: "Open Sans";
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100vh;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.img-dog-login {
  width: 45%;
  height: 100%;
  object-fit: cover;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.logo {
  width: 8rem;
  margin: 2rem 0;
  cursor: pointer;
}

.card-login {
  display: flex;
  width: 28rem;
  height: 40rem;
  flex-direction: column;
  border-radius: 1.9rem;
  padding: 2rem 5rem 2.5rem;
  background-color: white;
}

.card-login p {
  color: var(--black);
  font-family: var(--text-font);
}

input {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: var(--grey) 0.06rem solid;
  font-family: var(--text-font);
  font-size: 1rem;
}

.form-control {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: var(--grey) 0.06rem solid;
  font-family: var(--text-font);
  font-size: 1rem;
  background-color: white;
}

input:focus {
  color: var(--black);
  outline-color: var(--black);
}

.form-control:focus {
  color: var(--black);
  outline-color: var(--black);
}

.input-container input {
  width: 12.3rem;
  height: 1.5rem;
}

.double-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  border-radius: 0.75rem;
  border: 0;
  font-size: 1rem;
  font-family: var(--text-font);
  font-weight: 600;
  transition: background-color 0.7s ease;
}

.button img {
  object-fit: contain;
  margin-right: 1.5rem;
}

.btn-login-email {
  background-color: var(--orange);
  margin-top: 2.5rem;
  justify-content: center;
}

.button span {
  color: var(--black);
  pointer-events: none;
}

.btn-login-email:hover {
  background-color: #cc9320;
}

.btn-login-email:hover span {
  color: var(--white-color);
}

.link-signin {
  color: var(--green);
  font-family: var(--text-font);
  font-weight: 600;
}

 p{
  font-family: var(--text-font);
  color: var(--black);
  font-size: 0.9rem;
}

/* calendar */

input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: block;
}

input::-webkit-calendar-picker-indicator {
  opacity: 1;
}

input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator::after {
  content: "";
  display: block;
  background: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-32.png") no-repeat;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1rem;
}
